#container {
  display: flex;
  width: 800px;
  height: 500px;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

#container > div {
  border: 3px solid red;
  margin: 2px;
  display: flex;
  flex-direction: column;
  width: 100%; /* 부모 요소 가로 너비를 가득 채우도록 설정 */
  height: 100%; /* 부모 요소 높이를 가득 채우도록 설정 */
}

#container > div > div {
  margin: 5px;
  border: 1px dotted red;
  width: 80%;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

#d1 {
  flex-grow: 0;
}

#d2,
#d3 {
  display: flex;
  margin: 5px;
  border: 1px dotted blue;
  width: 100%; /* 부모 요소 가로 너비를 가득 채우도록 설정 */
  height: 100%; /* 부모 요소 높이를 가득 채우도록 설정 */
}

#d2 {
  flex-grow: 2;
  justify-content: space-around;
}

#d2 .d2_1 {
  flex-grow: 2;
}

#d2 .d2_2 {
  flex-grow: 1;
}

#d3 {
  flex-grow: 7;
}

#d3 .d3_1 {
  flex-grow: 4.5;
}

#d3 .d3_2 {
  flex-grow: 1;
}
