.container {
  display: grid;
  /* grid-template-columns: 200px 200px 200px; */
  /* grid-template-columns: 2fr 1fr 1fr; */
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-auto-rows: minmax(100px, auto);
}
.container div {
  background-color: green;
  color: white;
  margin: 1px;
  border: 2px solid orange;
}
